In [1]:
# python3 -m pip install pandas
import pandas as pd

# open the csv file and describe the ; as the separator
exp_inc = pd.read_csv("expenses_and_income.csv", sep=";")
exp_inc

,Date,Description,Category,Out,In
0,2020-06-02,Salary Frank,Income,0.00,4896.44
1,2020-06-03,supermarket,food and beverages,132.40,0.00
2,2020-06-04,Salary Laura,Income,0.00,4910.14
3,2929-06-04,"GreenEnergy Corp., (electricity)",utility,87.34,0.00
4,2020-06-09,water and sewage,utility,60.56,0.00
5,2020-06-10,"Fitness studio, Jane",health and sports,19.00,0.00
6,2020-06-11,payment to bank,monthly redemption payment,1287.43,0.00
7,2020-06-12,LeGourmet Restaurant,restaurants and hotels,145.00,0.00
8,2020-06-13,supermarket,food and beverages,197.42,0.00
9,2020-06-13,Pizzeria da Pulcinella,restaurants and hotels,60.00,0.00
10,2020-06-26,supermarket,food and beverages,155.42,0.00
11,2020-06-27,theatre tickets,education and culture,125.00,0.00
12,2020-07-02,Salary Frank,Income,0.00,4896.44
13,2020-07-03,supermarket,food and beverages,147.90,0.00
14,2020-07-05,Salary Laura,Income,0.00,4910.14
15,2020-07-08,"Golf Club, yearly payment",health and sports,612.18,0.00
16,2020-07-09,house insurance,insurances and taxes,167.89,0.00
17,2020-07-10,"Fitness studio, Jane",health and sports,19.00,0.00
18,2020-07-10,supermarket,food and beverages,144.12,0.00
19,2020-07-11,payment to bank,monthly redemption payment,1287.43,0.00
20,2020-07-18,supermarket,food and beverages,211.24,0.00
21,2020-07-13,Pizzeria da Pulcinella,restaurants and hotels,33.00,0.00
22,2020-07-23,Cinema,education and culture,19.00,0.00
23,2020-07-25,supermarket,food and beverages,186.11,0.00

In [2]:
exp_inc[['Out', 'In']].sum()

Out     5097.44
In     19613.16
dtype: float64